{% extends 'back.html.twig' %}

{% block title %}New Membre{% endblock %}

{% block bodyback %}
    <h1>Créer Membre</h1>

    {{ include('membre/_form.html.twig') }}

    <a href="{{ path('app_membre_index') }}" class="btn btn-secondary btnRetour">Retour a la liste</a>
{% endblock %}
